<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <category label="Serial Port">
    <setting label="Serial device (TTY)" type="file" id="device" default="/dev/ttyUSB0" />
  </category>
  <category label="Input sources">
    <setting label="Radio sources" type="lsep" />
    <setting label="FM Radio" type="bool" id="display_fm" default="true" />
    <setting label="DAB Radio" type="bool" id="display_dab" default="false" />
    <setting label="Radio presets" type="bool" id="display_presets" default="false" />
    <setting label="Tune" type="bool" id="display_preset" default="false" />

    <setting label="Physical input connectors" type="lsep" />
    <setting label="CD" type="bool" id="display_cd" default="true" />
    <setting label="Network" type="bool" id="display_net" default="true" />
    <setting label="Optical" type="bool" id="display_optical" default="true" />
    <setting label="Analog 1" type="bool" id="display_analog1" default="true" />
    <setting label="Analog 2" type="bool" id="display_analog2" default="true" />

    <setting label="Denon DCD-F109 logical sources" type="lsep" />
    <setting label="CD Audio" type="bool" id="display_cda" default="false" />
    <setting label="iPOD/USB" type="bool" id="display_usb" default="false" />

    <setting label="Denon DNP-F109 logical sources" type="lsep" />
    <setting label="Internet Radio" type="bool" id="display_internet" default="false" />
    <setting label="Online music" type="bool" id="display_online" default="false" />
    <setting label="Music server" type="bool" id="display_server" default="false" />
    <setting label="iPOD/USB" type="bool" id="display_ipod" default="false" />
  </category>
  <category label="Input labels">
    <setting label="Physical input connectors" type="lsep" />
    <setting label="CD" type="text" id="label_cd" default="CD" />
    <setting label="Network" type="text" id="label_net" default="Network" />
    <setting label="Optical" type="text" id="label_optical" default="Optical" />
    <setting label="Analog 1" type="text" id="label_analog1" default="Analog 1" />
    <setting label="Analog 2" type="text" id="label_analog2" default="Analog 2" />
  </category>
  <category label="Radio presets">
    <setting label="Preset 1" type="text" id="preset_1" default="" />
    <setting label="Preset 2" type="text" id="preset_2" default="" />
    <setting label="Preset 3" type="text" id="preset_3" default="" />
    <setting label="Preset 4" type="text" id="preset_4" default="" />
    <setting label="Preset 5" type="text" id="preset_5" default="" />
    <setting label="Preset 6" type="text" id="preset_6" default="" />
    <setting label="Preset 7" type="text" id="preset_7" default="" />
    <setting label="Preset 8" type="text" id="preset_8" default="" />
    <setting label="Preset 9" type="text" id="preset_9" default="" />
    <setting label="Preset 10" type="text" id="preset_10" default="" />
    <setting label="Preset 11" type="text" id="preset_11" default="" />
    <setting label="Preset 12" type="text" id="preset_12" default="" />
    <setting label="Preset 13" type="text" id="preset_13" default="" />
    <setting label="Preset 14" type="text" id="preset_14" default="" />
    <setting label="Preset 15" type="text" id="preset_15" default="" />
    <setting label="Preset 16" type="text" id="preset_16" default="" />
    <setting label="Preset 17" type="text" id="preset_17" default="" />
    <setting label="Preset 18" type="text" id="preset_18" default="" />
    <setting label="Preset 19" type="text" id="preset_19" default="" />
    <setting label="Preset 20" type="text" id="preset_20" default="" />
    <setting label="Preset 21" type="text" id="preset_21" default="" />
    <setting label="Preset 22" type="text" id="preset_22" default="" />
    <setting label="Preset 23" type="text" id="preset_23" default="" />
    <setting label="Preset 24" type="text" id="preset_24" default="" />
    <setting label="Preset 25" type="text" id="preset_25" default="" />
    <setting label="Preset 26" type="text" id="preset_26" default="" />
    <setting label="Preset 27" type="text" id="preset_27" default="" />
    <setting label="Preset 28" type="text" id="preset_28" default="" />
    <setting label="Preset 29" type="text" id="preset_29" default="" />
    <setting label="Preset 30" type="text" id="preset_30" default="" />
    <setting label="Preset 31" type="text" id="preset_31" default="" />
    <setting label="Preset 32" type="text" id="preset_32" default="" />
    <setting label="Preset 33" type="text" id="preset_33" default="" />
    <setting label="Preset 34" type="text" id="preset_34" default="" />
    <setting label="Preset 35" type="text" id="preset_35" default="" />
    <setting label="Preset 36" type="text" id="preset_36" default="" />
    <setting label="Preset 37" type="text" id="preset_37" default="" />
    <setting label="Preset 38" type="text" id="preset_38" default="" />
    <setting label="Preset 39" type="text" id="preset_39" default="" />
    <setting label="Preset 40" type="text" id="preset_40" default="" />
  </category>
  <category label="Sound controls">
    <setting label="Display sound settings" type="bool" id="display_sound" default="true" />
    <setting visible="!eq(-1,False)" label="Volume" type="lsep" />
    <setting visible="!eq(-2,False)" label="Min. Volume" type="slider" id="vol_min" default="5" range="0,1,10" option="int" />
    <setting visible="!eq(-3,False)" label="Max. Volume" type="slider" id="vol_max" default="20" range="11,1,60" option="int" />
    <setting visible="!eq(-4,False)" label="Step" type="slider" id="vol_step" default="1" range="1,1,5" option="int" />
  </category>
  <category label="Timers">
    <setting label="Display power / timers" type="bool" id="display_power" default="true" />
    <setting visible="!eq(-1,False)" label="Sleep timer" type="lsep" />
    <setting visible="!eq(-2,False)" label="Preset 1" type="slider" id="sleep_preset_1" default="5" range="1,1,99" option="int" />
    <setting visible="!eq(-3,False)" label="Preset 2" type="slider" id="sleep_preset_2" default="15" range="1,1,99" option="int" />
    <setting visible="!eq(-4,False)" label="Preset 3" type="slider" id="sleep_preset_3" default="30" range="1,1,99" option="int" />
    <setting visible="!eq(-5,False)" label="Preset 4" type="slider" id="sleep_preset_4" default="60" range="1,1,99" option="int" />
    <setting visible="!eq(-6,False)" label="Preset 5" type="slider" id="sleep_preset_5" default="90" range="1,1,99" option="int" />

    <setting visible="!eq(-7,False)" label="Everyday alarm settings" type="lsep" />
    <setting visible="!eq(-8,False)" label="Alarm start" type="time" id="alarm_everyday_start" />
    <setting visible="!eq(-9,False)" label="Alarm end" type="time" id="alarm_everyday_end" />
    <setting visible="!eq(-10,False)" label="Alarm input source" type="enum" id="alarm_everyday_source" values="preset|optical|cd|cdusb|net|netusb|analog1|analog2" default="0" />
    <setting visible="!eq(-11,False)" enable="eq(-1,0)" label="Alarm input radio preset" type="slider" id="alarm_everyday_preset" default="1" range="1,1,40" option="int" />

    <setting visible="!eq(-12,False)" label="Onetime alarm settings" type="lsep" />
    <setting visible="!eq(-13,False)" label="Alarm start" type="time" id="alarm_once_start" />
    <setting visible="!eq(-14,False)" label="Alarm end" type="time" id="alarm_once_end" />
    <setting visible="!eq(-15,False)" label="Alarm input source" type="enum" id="alarm_once_source" values="preset|optical|cd|cdusb|net|netusb|analog1|analog2" default="0" />
    <setting visible="!eq(-16,False)" enable="eq(-1,0)" label="Alarm input radio preset" type="slider" id="alarm_once_preset" default="1" range="1,1,40" option="int" />
  </category>
<!--
  <category label="Smart switch">  
    <setting label="Auto switch on playback in Kodi" type="bool" id="auto_switch" default="false" />
    <setting visible="eq(-1,True)" label="Kodi's input source" type="enum" id="kodi_input_source" values="Analog 1|Analog 2|Optical|CD|Network" default="0" />
    <setting visible="eq(-3,True)" label="Auto sleep timer" type="bool" id="kodi_sleep" default="false" />
    <setting visible="eq(-2,True)" label="Auto s.direct" type="bool" id="kodi_sdirect" default="false" />
-->
  </category>
  
</settings>
